body {
    margin: 0px;
    display: flex;
}

.overlay {
    background-color: transparent;
    position: absolute;
    z-index: 10;
    width: 1024px;
    /* pointer-events: none; */
}

#gameWorld {
    border: 0px;
}

h1 {
    font-size: 3em;
    font-family: 'VT323', monospace;
    margin: 0px 0px 15px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.scoreBoard {
    margin-left: 24px;
    font-family: 'VT323', monospace;
    font-size: 1.2em;
}

.lives, .score {
    display: flex;
    flex-direction: row;
    font-family: 'VT323', monospace;
    font-size: 1.2em;
}

#lives-icon-container {
    display: flex;
    align-items:center;
}

.empty-heart {
    fill: green;
}

.filled-heart {
    fill: aqua;
}

.lives {
    left: 10px;
    top: 740px;
}

.score {
    left: 900px;
    top: 740px;
}

.lives h2, .score h2 {
    margin: 0px;
}

/* Modal/Leaderboard CSS */

.high-score {
    position: sticky;
    top: 0;
    background-color: rgb(250, 250, 250);
    width: 100%;
}

#modal1 .modal-content {
    /* Need to remove the top padding otherwise the score will be seen above the title
       when the user scrolls
    */
    padding: 0 24px;
}

/* Modal ask for name */
.input-field span {
    font-size: 1em !important;
}

/* Iventory CSS Styles */
.inventory-container {
    height: 100px;
}

#inventory {
    /* Some items/pngs aren't square or don't have any height so we need to center align all items vertically */
    display: flex;
    align-items: center;
}

.inventory-container img {
    width: 40px;
}

/* CSS for the header weapon and timer container */
.title {
    display: flex;
    align-items: center;
}

/* Add a blue border to the first weapon in the players inventory class */
#weapon img:first-child {
    box-shadow: 0 4px 5px -3px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border-bottom: 1px solid rgba(81, 203, 238, 1);
}

#weapon {
    display: flex;
    align-items: center;
}

#message-overlay, #intro-message, #normal-message, #control-message  {
    font-family: 'VT323', monospace;
    font-size: 2em;
    position: absolute;
    left: 0;
    /* (height(canvas) / 2) - (height(element) / 2) */
    top: 307px;
    display: none;
}

/* Modifies the position of the intro message */
#intro-message {
    top: 180px;
}

#normal-message, #control-message {
    top: 650px;
    text-align: center;
}

#intro-message p {
    font-size: 84px;
}

#message-overlay p, #intro-message p {
    width: 100%;
    text-align: center;
    color: black;
}

/* The bottom style classes are used for the keys */
.key-container {
    display: flex;
}

.pair {
    display: flex;
    flex-direction: row;
}

.control-description {
    display: flex;
    align-items: center;
}

div.key {
	width:35px;
	height: 37px;
	padding: 1px;
    margin: 10px 10px 10px 0px;
}

/* Blinking text */
.blinking p {
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}


/*
    We need to expand the width of the space-key to make it distinguishable
*/
div.space-key, div.space-key.special > span {
    width: 135px;
}

div.key > span {
	display: block;
	width: 35px;
	height: 35px;
	border: 1px solid black;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	font-size: 12px;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
	text-align: center;
	padding-top: 10px;
	/* color: #7c7c7c; */
	-webkit-box-shadow: 0px 3px 0px -2px rgba(255,255,255,1), 0px 2px 0px 0px rgba(169,169,169,1);
	-moz-box-shadow: 0px 3px 0px -2px rgba(255,255,255,1), 0px 2px 0px 0px rgba(169,169,169,1);
	box-shadow: 0px 3px 0px -2px rgba(255,255,255,1), 0px 2px 0px 0px rgba(169,169,169,1);
	cursor: pointer;
}

div.key > span:hover {
	background-color: #75b4fb;
	border: 1px solid #5a88c5;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 0px -2px rgba(117,180,251,1), 0px 2px 0px 0px rgba(90,136,197,1);
	-moz-box-shadow: 0px 3px 0px -2px rgba(117,180,251,1), 0px 2px 0px 0px rgba(90,136,197,1);
	box-shadow: 0px 3px 0px -2px rgba(117,180,251,1), 0px 2px 0px 0px rgba(90,136,197,1);
	cursor: pointer;
}

div.key > span:active {
	margin-top: 2px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

div.key.special > span {
	padding-top: 6px;
	font-size: 20px;
}

div.key.icon > span {
	font-size: 14px;
}

center > h4 {
     margin-top: 50px;
}

/* Timer Related CSS */
  #countdown {
    position: relative;
    /* margin: auto; */
    /* margin-top: 100px; */
    padding-left: 15px;
    height: 40px;
    width: 40px;
    text-align: center;
  }
  
  #countdown-number {
    color: black;
    display: inline-block;
    line-height: 40px;
  }
  
  .timer {
    /* At the start we don't want to show the circle for the timer */
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }
  
  #circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: black;
    fill: none;
    animation: countdown 20s linear infinite forwards;
  }

  @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 113px;
    }
  }